.error {
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    z-index: 100;
    bottom: 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

    &.open {
        height: 4em;
        max-height: 4em;
        transition: max-height 0.25s ease-in;
    }

    &.closed {
        height: 4em;
        max-height: 0px;
        transition: max-height 0.25s ease-out;
    }

    &-icon {
        padding: 5px;
    }
}