.header {
  font-size: 1.25em;

  &-toolbar {
    display: flex;
    justify-content: space-between;
  }

  &-logoText {
    font-family: 'Comfortaa', cursive;
    color: 'white';
    font-size: 30px;
    margin: 0;
  }
}
