.login {

  &-container {
    background-color: $blueLight;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.3em;
    box-shadow:  0px 0px 1px 0px rgba(0,0,0,0.75);
  }

  &-imagecontainer {
    display: flex;
    justify-content: center;
  }

  &-image {
    height: 2em;
    width: auto;
  }

  &-logoText {
    font-family: 'Comfortaa', cursive;
    color: $blueDark;
    text-align: center;
    font-size: 40px;
    margin: 20px 0 0 0;
  }
}

.Login-button-3:hover {
  background-color: $blueDark !important;
}
