.map {

    &-container {
        margin-top: 20px;
    }

    &-baseText {
        color: rgba(0, 0, 0, 0.3);
        font-size: 12;
        margin-bottom: 35px;
    }

    &-mapview {

        height: 100%;
        width: 100%;

        &-container {
            height: 400px;
            width: 100%;
            max-width: 600px;
        }
    }

    &-textfields {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    }
}