.options {

  &-iconContainer {
    margin-bottom: 10px;
    margin-left: 5px;
    background-color: 'black';
  }

  &-inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
  }

  &-titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%
  }

  &-title1, &-title2 {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 11px;
  }

  &-title1 {
    width: 167px;
  }

}